<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.lsiten.dog" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>狗狗说</name>
    <description>
        一个给狗狗配音的App
    </description>
    <author email="lsiten@lsiten.cn" href="http://www.lsiten.cn">
        lsiten团队
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <access origin="file://*" />
    <access origin="file:///*" />
    <allow-intent href="cdvfile://*" />
    <allow-intent href="file://*" />
    <allow-intent href="file:///*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="cdvfile://*" />
    <allow-navigation href="file://*" />
    <allow-navigation href="file:///*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="iosPersistentFileLocation" value="Compatibility" />
        <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    </platform>
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-camera" spec="^3.0.0" />
    <plugin name="cordova-plugin-media-capture" spec="^2.0.0" />
    <plugin name="com.hutchind.cordova.plugins.streamingmedia" spec="~0.1.4" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.0" />
</widget>
